body {
    background-color: aliceblue;
    box-sizing: content-box;
    width: 85%;
    margin: 70px auto 30px auto;
    border: 0;
}
#mainHeader h1 {
    margin: 5 auto;
    font-family: 'Bungee Shade', cursive;
    text-shadow: 2px 2px black;
}
header {
    border: 5px solid rgb(22, 1, 1);
}
#title {
    font-family: 'News Cycle', sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
    background-color:  #d7d7d7; 
    border: 5px solid rgb(22, 1, 1);
    border-top: 0; 
}
#title h1 {
    margin-bottom: 1rem;
    text-shadow: 0.05rem 0.05rem #838282;
    font-weight: lighter;
}

#refresh-btn {
    font-family: 'News Cycle', serif;
    font-weight: bold;
    font-size: 1rem;
    box-sizing: border-box;
    position: relative;
    width: auto;
    padding: 0 1.7777777777777777rem;
    background-color:rgb(215, 201, 218);
    color: black;
    cursor: pointer;
    display: flex;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0.05rem 0.05rem #fff9f9;
    
}
#refresh-btn:hover {
    background-color:rgb(80, 7, 93);
    color: #f8e6f4;
    text-shadow: 0.05rem 0.05rem rgb(215, 201, 218);
}
#ref-icon {
    width:1rem;
    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

}
.container {
    width: 100%;
    margin:auto;
    
}
#news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 2px 2px 3px grey;
    background-color: rgb(215, 201, 218);
    margin: 1rem auto;
}
.news-post {
    background-color: #d7d7d7;
    max-height: 30rem;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.news-title {
    background-color: rgb(215, 201, 218);;
    font-family: 'News Cycle', serif;
    font-size: 1.7rem;
    color:rgb(190, 46, 70);
    text-shadow: 10px;
}
.source {
    color: black;
    font-family: 'News Cycle', serif;
    font-weight: 1000;
}
.source:hover {
    color: rgb(36, 2, 43);
    text-shadow: 0.5px 0.5px 1px grey;
}
.link {
    color: black;
}
.link:hover {
    font-weight: bolder;
}
#miniature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    max-height: 20rem;

}

#reference-cluster {
    display: flex-box;
    float: right;
    max-width: 19%;
    position: fixed;
    right: 0;
    top: 20%;
    
}
#lookupwidget {
    background-color: rgb(80, 7, 93) ;
    color: aliceblue;
    min-height: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'News Cycle', serif;
}
.reference-btn {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: 'News Cycle', serif;
    color: black;
    background-color:rgb(215, 201, 218);
    margin: 0.2rem;
    margin-left: 0.7rem;
}


#mainFooter {
    background: rgb(80, 7, 93);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.5rem;
    text-align: center;
   }
footer p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

