/* Add a black background color to the top navigation */
body {
    width: 80%;
    height: 100%;
    margin: 10px auto 30px auto;
    background-image: url("background.jpg");
    padding: 0 0 auto 0;
    border: 5px solid rgb(22, 1, 1);
}
/* styyle for h1 heading*/
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  text-align: center;
}
/* styyle for h2 heading*/
h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5px;
}
/* style for p paragraphs*/
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-indent: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify
}

/* style for block with text*/
.textSurface{
  padding: 20px 20px 20px 20px;
  background-color: rgb(255, 255, 255);
  border-top: 0;
  margin-top: 0;
}
.menuBar{
  height: auto;
  padding: auto;
  background-color: white;
  margin: auto;
}
.menuBar ul {
  float: left;
  list-style: none;
  display: inline;
 }
  
 .menuBar li {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  float: center;
  font-size: 15px;
  padding: 12px;
  display: inline;
 }
 .menuBar a{
   color : unset;
 }
 .menuBar a:hover {
  color: #7eb9be;
 }
