<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Łukasz Popek">
    <meta nama="description" content="This is main page of WUTFilmApp,
    project creted for subject Programowanie Aplikacyjne on WUT">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fivico.ico') }}" type="image/x-icon">
    <style>a { text-decoration: none; }</style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- here we can include our CSS files -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <title>WUTFilmApp</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header>
        <div id = "mainHeader">
            <h1> 
                WUTFilmApp
            </h1>
        </div>
        <nav>
            <div class = "menuConteiner">
                <div id = "hiddenMenu">
                    <h2>MENU
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                        <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                        <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                        <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                    </ul>
                </h2>
                </div>
                <div id="menuBar">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                        <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                        <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                        <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                    </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="textSurface" >
        <div class="clr">

        </div>
        <div class="conteiner">
            <h2 class="container">Czym jest WUTFilmApp?</h2>
            <p>Aplikacja stworzona została dla wszystkich fanów kinematografii. Użytkownik może być na
                na bierząco z informcjami o świecie filmu, najowszymi premierami, jak również znajdować inspiracje 
                do dalszego poznawania filmów. Zapraszamy do zabawy!
            </p>
                <h2>Jak używać?</h2>
            <p>
                W naszej bazie filmowej znajdują się setki filmów opatrzonych recenzjami oraz wskazówkami
                dla kogo ten film może być interesujący. Po założeniu konta użytkownik może oceniać, budować
                rankingi filmów. Z naszej strony są przedstawiane sugestie na podstawie zainteresowań jakie 
                filmy mogłyby się spodobać. Co więcej użytkownik jest na bierząco z wiadomosciami ze świata filmu
                na dzięki sekcji premiery w której umieszczone są filmy oczekujące na premierę. 
            </p>
        </div>
    </div>
    <footer>
        <div id = "mainFooter">
            <p><cite>WUTFilmApp</cite> created by Łukasz Popek Kinga Kwoka & Olga Krupa</p>
        </div>
    </footer>
</body>

</html>
