
<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name = "Author: Łukasz Popek" content = "LogIn page of WUTFilmApp">
        <meta name = "Description" content = "It's website for login panel for user">
        <link rel="shortcut icon" href="{{ url_for('static', filename='fivico.ico') }}" type="image/x-icon">
        <style>a { text-decoration: none; }</style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <title>WUTFilmApp</title>
    </head>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <header>
            <div id = "mainHeader">
                <h1> 
                    WUTFilmApp
                </h1>
            </div>
            <nav>
                <div class = "menuConteiner">
                    <div id = "hiddenMenu">
                        <h2>MENU
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                            <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                            <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                            <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                        </ul>
                    </h2>
                    </div>
                    <div id="menuBar">
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                            <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                            <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                            <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                        </ul>
                </div>
                </div>
            </nav>
        </header>
        
        
        <div class="textSurface" >
            <form id="formsStyle">
                <div>
                    <label>Login</label>
                    <input id="logEmail" type="text" name="usrlogin" placeholder="Wpisz login (emaill)">
                </div>
                <div>
                    <label>Hasło</label>
                    <input id="logPassword" type="password" name="usrpassword" placeholder="Wpisz hasło">
                </div>
                <button type="button" onclick="logInUser()">Zaloguj się </button>
                <p>
                    Nie masz konta? <a href="{{ url_for('registration') }}">Zarejestruj się!</a>
                </p>
            </form>
		
        </div>
        <div id = "mainFooter">
            <p><cite>WUTFilmApp</cite> created by Łukasz Popek Kinga Kwoka & Olga Krupa</p>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}">
    </script>
    
</html>