<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olga Krupa">
    <meta nama="description" content="This is side page of WUTFilmApp,
    project creted for subject Programowanie Aplikacyjne on WUT">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fivico.ico') }}" type="image/x-icon">
    <style>a { text-decoration: none; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <title>WUTFilmApp</title>
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    
    <header>
        <div id = "mainHeader">
            <h1> 
                WUTFilmApp
            </h1>
        </div>
        <nav>
            <div class = "menuConteiner">
                <div id = "hiddenMenu">
                    <h2>MENU
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                        <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                        <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                        <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                    </ul>
                </h2>
                </div>
                <div id="menuBar">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('baza_filmowa') }}">Wyszukiwarka filmów</a></li>
                        <li><a href="{{ url_for('premiery') }}">Premiery</a></li>
                        <li><a href="{{ url_for('news') }}">Wiadomości</a></li>
                        <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                    </ul>
            </div>
            </div>
        </nav>
    </header>
    
    
    <div class="textSurface" >
        <div class="clr">
        
        </div>
        
        <div class="conteiner">

            <h2 class="container">Co warto obejrzeć?</h2>
            <p id= "styl1">Bądź na bierząco dzięki aplikacji <strong style="color:rgb(134, 17, 138);">WUTFilmApp!</strong><br></p>
            <p>Sprwadź co cię czeka w najbliższych tygodniach i na co warto wybrać się do kina. Zaplanuj sobie chwilę relaksu dzięki aplikacji WUTFilmApp.
            </p>
                <h2>Nadchodzące premiery</h2>
            <div id="movie-container-premiere"></div>
            </div>
        </div>
    </div>
    <div id = "mainFooter">
        <p><cite>WUTFilmApp</cite> created by Łukasz Popek Kinga Kwoka & Olga Krupa</p>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='premiers.js')}}"></script>
</body>

</html>